/* body */
body {
    background-color: #afb8db;
    margin: 0;
    padding: 0;
}

/* main */
.main {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

/* chat */
.chat {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 500px;
}

.chat__display {
    height: 500px;
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
    overflow-y: auto;
    word-break: break-all;
}

.chat__display::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.chat__display::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

.chat__userConnected, .chat__userDisconnected {
    font-weight: bold;
    font-style: italic;
}

.chat__input {
    width: calc(500px - 20px);
    font-size: 2em;
    padding: 10px;
    border: 0;
    border-top: 1px solid #555;
}

.chat__input:focus {
    outline: none;
}