    </main>

    <script src="https://kit.fontawesome.com/3279e393a6.js"></script>
    <% if (socket) { %>
        <script src="/socket.io/socket.io.js"></script>
        <script src="js/main.js"></script>
    <% } %>
</body>
</html>