<%- include('./templates/tpl.header.ejs'); %>
    <section class="pseudo" id="pseudo">
        <h1 class="pseudo__title">Enter a pseudo to access the chat</h1>
        <form id="pseudo__form" action="/" method="post">
            <input class="pseudo__input" name="pseudo" type="text" placeholder="Enter your pseudo">
        </form>
    </section>
<%- include('./templates/tpl.footer.ejs',  { socket: false }) %>
